
body {
    font-family: Arial;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
}


header {
    background-color: #02961bb0;
    color: white;
    padding: 15px 0;
    text-align: center;
}

/* Container */
.container {
    width: 90%;
   
    margin: 20px ;
    background: white;
    padding: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}


h1, h2, h3 {
    color: #0056a6;
}


a {
    color: #0056a6;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


.info-section {
    margin-top: 20px;
    line-height: 1.6;
}


footer {
    background-color:#02961bb0;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}


@media (max-width: 600px) {
    .container {
        padding: 15px;
    }
}
