<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="../asset/article_style.css">
    <title>Improving Healthcare in Rural Areas</title>
</head>

<body>
    <header>
        <div class="header-container">
            <h1>Hospital Insights</h1>
        </div>
    </header>
    <main>
        <article class="full-article">
            <h2>Improving Healthcare in Rural Areas</h2>
            <p class="article-date">March 15, 2024</p>
            <img src="../asset/article1.jpg" alt="Improving Healthcare" class="article-image">
            <p>
                Mental health awareness campaigns in Bangladesh have gained momentum, contributing to the
                destigmatization of mental
                health issues across the country. These initiatives aim to address the prevalent stigma and improve
                access to mental
                health care.
            </p>
            <p>
                Despite these efforts, challenges persist. Mental health services in Bangladesh are limited, with a
                shortage of
                qualified professionals and inadequate facilities, particularly in rural areas.
            </p>
        </article>
    </main>
    <footer>
        <div class="footer-container">
            <p>&copy; 2024 Hospital Insights, Bangladesh. All Rights Reserved.</p>
        </div>
    </footer>
</body>

</html>